.portfolio-container {
    min-height: 100vh;}
  .portfolio-banner {
    background-image: linear-gradient(
      to bottom, rgba(255,255,255,.25),
                 rgba(255,255,255,.5),
                 rgba(255,255,255,.25));
    color: black; 
    font-size: calc(5em + 7.5vw); 
    height: 100vh;
    margin: auto;
    opacity: .75;
    position: -webkit-sticky; 
    position: sticky; 
    text-align: center;
    text-shadow: -5px 15px 15px rgb(82, 80, 80);
    top: 0; 
    z-index: -200;}
  .card {
    box-shadow: 0px 5px 5px black;
    h2:nth-child(2) {
      margin-top: -5%;}
    h3:nth-child(6) { 
      text-align: center;}
    .fontawesome {
      color: white;
      font-size: 2rem; 
      margin-bottom: -.5rem;}
    .devicon {
      fill: white;
      filter: drop-shadow(-5px 15px 5px black);
      margin-bottom: -.5rem;
      margin-left: .25rem;
      margin-right: .25rem;
      max-width: 2rem;}}