/*////////////////////////////////////////////////////////////////////
////////// SVG logo animation ////////////////////////////////////////
////////////////////////////////////////////////////////////////////*/
.logo {
    animation: fill-logo 5s ease forwards 7.5s;
    filter: drop-shadow(-5px 15px 5px black);
    position: relative; z-index: 2500; will-change: transform;
    width: 85vw; margin: auto; height: 100vh; }
  .logo path:nth-child(0){
    stroke-dasharray: 224.58628845214844px;
    stroke-dashoffset: 224.58628845214844px;
    animation: line-anim 2s ease forwards 0s}
  .logo path:nth-child(1){
    stroke-dasharray: 313.88592529296875px;
    stroke-dashoffset: 313.88592529296875px;
    animation: line-anim 2s ease forwards 0.25s}
  .logo path:nth-child(2){ /* J */
    stroke-dasharray: 367.9700622558594px;
    stroke-dashoffset: 367.9700622558594px;
    animation: line-anim 2s ease forwards 0.5s}
  .logo path:nth-child(3){ /* A */
    stroke-dasharray: 345.18603515625px;
    stroke-dashoffset: 345.18603515625px;
    animation: line-anim 2s ease forwards 0.75s}
  .logo path:nth-child(4){ /* R */
    stroke-dasharray: 338.96588134765625px;
    stroke-dashoffset: 338.96588134765625px;
    animation: line-anim 2s ease forwards 1s}
  .logo path:nth-child(5){ /* E */
    stroke-dasharray: 361.4064025878906px;
    stroke-dashoffset: 361.4064025878906px;
    animation: line-anim 2s ease forwards 1.25s}
  .logo path:nth-child(6){ /* D */
    stroke-dasharray: 313.8856201171875px;
    stroke-dashoffset: 313.8856201171875px;
    animation: line-anim 2s ease forwards 1.5s}
  .logo path:nth-child(7){ /* H */
    stroke-dasharray: 367.9692687988281px;
    stroke-dashoffset: 367.9692687988281px;
    animation: line-anim 2s ease forwards 1.75s}
  .logo path:nth-child(8){ /* A */
    stroke-dasharray: 373.0042724609375px;
    stroke-dashoffset: 373.0042724609375px;
    animation: line-anim 2s ease forwards 2s}
  .logo path:nth-child(9){ /* R */
    stroke-dasharray: 364.6240234375px;
    stroke-dashoffset: 364.6240234375px;
    animation: line-anim 2s ease forwards 2.25s}
  .logo path:nth-child(10){ /* B */
    stroke-dasharray: 346.8232421875px;
    stroke-dashoffset: 346.8232421875px;
    animation: line-anim 2s ease forwards 2.5s}
  .logo path:nth-child(11){ /* I */
    stroke-dasharray: 331.6245422363281px;
    stroke-dashoffset: 331.6245422363281px;
    animation: line-anim 2s ease forwards 2.75s}
  .logo path:nth-child(12){ /* S */
    stroke-dasharray: 387.89849853515625px;
    stroke-dashoffset: 387.89849853515625px;
    animation: line-anim 2s ease forwards 3s}
  .logo path:nth-child(13){ /* O */
    stroke-dasharray: 379.98513793945312px;
    stroke-dashoffset: 379.98513793945312px;
    animation: line-anim 2s ease forwards 3.25s}
  .logo path:nth-child(14){ /* N */
    stroke-dasharray: 393.42544555664062px;
    stroke-dashoffset: 393.42544555664062px;
    animation: line-anim 2s ease forwards 3.5s}
  .logo path:nth-child(15){ /* S */
    stroke-dasharray: 347.8143768310547px;
    stroke-dashoffset: 347.8143768310547px;
    animation: line-anim 2s ease forwards 3.75s}
  .logo path:nth-child(16){ /* O */
    stroke-dasharray: 131.8665771484375px;
    stroke-dashoffset: 131.8665771484375px;
    animation: line-anim 2s ease forwards 4s}
  .logo path:nth-child(17){ /* F */
    stroke-dasharray: 241.99765014648438px;
    stroke-dashoffset: 241.99765014648438px;
    animation: line-anim 2s ease forwards 4.25s}
  .logo path:nth-child(18){ /* T */
    stroke-dasharray: 187.62843322753906px;
    stroke-dashoffset: 187.62843322753906px;
    animation: line-anim 2s ease forwards 4.5s}
  .logo path:nth-child(19){ /* W */
    stroke-dasharray: 409.69155883789062px;
    stroke-dashoffset: 409.69155883789062px;
    animation: line-anim 2s ease forwards 4.75s}
  .logo path:nth-child(20){ /* A */
    stroke-dasharray: 181.70338439941406px;
    stroke-dashoffset: 181.70338439941406px;
    animation: line-anim 2s ease forwards 5s}
  .logo path:nth-child(21){ /* R */
    stroke-dasharray: 181.70712280273438px;
    stroke-dashoffset: 181.70712280273438px;
    animation: line-anim 2s ease forwards 5.25s}
  .logo path:nth-child(22){ /* E */
    stroke-dasharray: 177.47193908691406px;
    stroke-dashoffset: 177.47193908691406px;
    animation: line-anim 2s ease forwards 5.5s}
  .logo path:nth-child(23){ /* E */
    stroke-dasharray: 237.7108154296875px;
    stroke-dashoffset: 237.7108154296875px;
    animation: line-anim 2s ease forwards 5.75s}
  .logo path:nth-child(24){ /* N */
    stroke-dasharray: 316.75715637207031px;
    stroke-dashoffset: 316.75715637207031px;
    animation: line-anim 2s ease forwards 6s}
  .logo path:nth-child(25){ /* G */
    stroke-dasharray: 197.4729766845703px;
    stroke-dashoffset: 197.4729766845703px;
    animation: line-anim 2s ease forwards 6.25s}
  .logo path:nth-child(26){ /* I */
    stroke-dasharray: 181.70352172851562px;
    stroke-dashoffset: 181.70352172851562px;
    animation: line-anim 2s ease forwards 6.5s}
  .logo path:nth-child(27){ /* N */
    stroke-dasharray: 181.7047119140625px;
    stroke-dashoffset: 181.7047119140625px;
    animation: line-anim 2s ease forwards 6.75s}
  .logo path:nth-child(28){ /* E */
    stroke-dasharray: 149.69160461425781px;
    stroke-dashoffset: 149.69160461425781px;
    animation: line-anim 2s ease forwards 7s}
  .logo path:nth-child(29){ /* E */
    stroke-dasharray: 224.58628845214844px;
    stroke-dashoffset: 224.58628845214844px;
    animation: line-anim 2s ease forwards 7.25s}
  .logo path:nth-child(30){ /* R */
    stroke-dasharray: 313.88592529296875px;
    stroke-dashoffset: 313.88592529296875px;
    animation: line-anim 2s ease forwards 7.5s}
  .logo path:nth-child(31){ /*  */
    stroke-dasharray: 357.9700622558594px;
    stroke-dashoffset: 357.9700622558594px;
    animation: line-anim 2s ease forwards 7.75s}
  .logo path:nth-child(32){ /*  */
    stroke-dasharray: 345.18603515625px;
    stroke-dashoffset: 345.18603515625px;
    animation: line-anim 2s ease forwards 8s}
  .logo path:nth-child(33){ /*  */
    stroke-dasharray: 338.96588134765625px;
    stroke-dashoffset: 338.96588134765625px;
    animation: line-anim 2s ease forwards 8.25s}
  .logo path:nth-child(34){ /*  */
    stroke-dasharray: 361.4064025878906px;
    stroke-dashoffset: 361.4064025878906px;
    animation: line-anim 2s ease forwards 8.5s}
  .logo path:nth-child(35){ /*  */
    stroke-dasharray: 313.8856201171875px;
    stroke-dashoffset: 313.8856201171875px;
    animation: line-anim 2s ease forwards 8.75s}
  .logo path:nth-child(36){ /*  */
    stroke-dasharray: 357.9692687988281px;
    stroke-dashoffset: 357.9692687988281px;
    animation: line-anim 2s ease forwards 9s}
  .logo path:nth-child(37){ /*  */
    stroke-dasharray: 373.0042724609375px;
    stroke-dashoffset: 373.0042724609375px;
    animation: line-anim 2s ease forwards 9.25s}
  .logo path:nth-child(38){ /*  */
    stroke-dasharray: 164.6240234375px;
    stroke-dashoffset: 164.6240234375px;
    animation: line-anim 2s ease forwards 9.5s}
  .logo path:nth-child(39){ /*  */
    stroke-dasharray: 346.8232421875px;
    stroke-dashoffset: 346.8232421875px;
    animation: line-anim 2s ease forwards 9.75s}
  .logo path:nth-child(40){ /*  */
    stroke-dasharray: 331.6245422363281px;
    stroke-dashoffset: 331.6245422363281px;
    animation: line-anim 2s ease forwards 10s}
  .logo path:nth-child(41){ /*  */
    stroke-dasharray: 387.89849853515625px;
    stroke-dashoffset: 387.89849853515625px;
    animation: line-anim 2s ease forwards 10.25s}
  .logo path:nth-child(42){ /*  */
    stroke-dasharray: 179.98513793945312px;
    stroke-dashoffset: 179.98513793945312px;
    animation: line-anim 2s ease forwards 10.5s}
  .logo path:nth-child(43){ /*  */
    stroke-dasharray: 163.42544555664062px;
    stroke-dashoffset: 163.42544555664062px;
    animation: line-anim 2s ease forwards 10.75s}
  .logo path:nth-child(44){ /*  */
    stroke-dasharray: 147.8143768310547px;
    stroke-dashoffset: 147.8143768310547px;
    animation: line-anim 2s ease forwards 11s}
  .logo path:nth-child(45){ /*  */
    stroke-dasharray: 131.8665771484375px;
    stroke-dashoffset: 131.8665771484375px;
    animation: line-anim 2s ease forwards 11.25s}
  .logo path:nth-child(46){ /*  */
    stroke-dasharray: 241.99765014648438px;
    stroke-dashoffset: 241.99765014648438px;
    animation: line-anim 2s ease forwards 11.5s}
  .logo path:nth-child(47){ /*  */
    stroke-dasharray: 187.62843322753906px;
    stroke-dashoffset: 187.62843322753906px;
    animation: line-anim 2s ease forwards 11.75s}
  .logo path:nth-child(48){ /*  */
    stroke-dasharray: 109.69155883789062px;
    stroke-dashoffset: 109.69155883789062px;
    animation: line-anim 2s ease forwards 12s}
  .logo path:nth-child(49){ /*  */
    stroke-dasharray: 181.70338439941406px;
    stroke-dashoffset: 181.70338439941406px;
    animation: line-anim 2s ease forwards 12.25s}
  .logo path:nth-child(50){ /*  */
    stroke-dasharray: 181.70712280273438px;
    stroke-dashoffset: 181.70712280273438px;
    animation: line-anim 2s ease forwards 12.5s}
  .logo path:nth-child(51){ /*  */
    stroke-dasharray: 177.47193908691406px;
    stroke-dashoffset: 177.47193908691406px;
    animation: line-anim 2s ease forwards 12.75s}
  .logo path:nth-child(52){ /*  */
    stroke-dasharray: 237.7108154296875px;
    stroke-dashoffset: 237.7108154296875px;
    animation: line-anim 2s ease forwards 13s}
  .logo path:nth-child(53){ /*  */
    stroke-dasharray: 116.75715637207031px;
    stroke-dashoffset: 116.75715637207031px;
    animation: line-anim 2s ease forwards 13.25s}
  .logo path:nth-child(54){ /*  */
    stroke-dasharray: 177.4729766845703px;
    stroke-dashoffset: 177.4729766845703px;
    animation: line-anim 2s ease forwards 13.5s}
  .logo path:nth-child(55){ /*  */
    stroke-dasharray: 181.70352172851562px;
    stroke-dashoffset: 181.70352172851562px;
    animation: line-anim 2s ease forwards 13.75s}
  .logo path:nth-child(56){ /*  */
    stroke-dasharray: 181.7047119140625px;
    stroke-dashoffset: 181.7047119140625px;
    animation: line-anim 2s ease forwards 14s}
  .logo path:nth-child(57){ /*  */
    stroke-dasharray: 109.69160461425781px;
    stroke-dashoffset: 109.69160461425781px;
    animation: line-anim 2s ease forwards 14.25s}
  @keyframes line-anim{
      to{ stroke-dashoffset: 0; }}
  @keyframes fill-logo{
      from{ fill: transparent; }
      to{ fill: white; }}