.tech-stack {
    margin: auto;
    padding-bottom: 10vw;
    position: relative;
    width: 85vw;
    z-index: -200;}
  .devicon { 
    fill: white;
    filter: drop-shadow(-5px 15px 5px black);
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    max-width: 10vw;}
  .tech-stack-banner {/*
    background-image: linear-gradient(
      to bottom, rgba(0,0,0,.5),
                 rgba(0,0,0,.75),
                 rgba(0,0,0,.5));*/
    bottom: 0; 
    font-size: calc(5em + 7.5vw);
    margin: auto;
    opacity: .80;
    padding-bottom: 5vw;
    padding-top: 5vw;
    position: -webkit-sticky;
    position: sticky; 
    text-align: center;
    text-shadow: -5px 15px 5px black;
    z-index: 200; }