.App {
  color: white;
  text-align: center;
}



.auto-grid {
  --auto-grid-min-size: 25rem;
  display: grid;
  grid-template-columns: 
    repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 5vw;
  margin: auto; 
  padding: 5vw;
  width: 90vw;
}

.card {
  background-image: linear-gradient(
    to bottom, rgba(0,0,0,.5),
               rgba(0,0,0,.75),
               rgba(0,0,0,.5));
  border-radius: 5px;
  min-width: 400px;
  position: relative; min-height: 200px;
  z-index: 100;
  h1{ 
    font-size: 7.5vh;
    line-height: 1vw;
    padding-left: 1vw;
    text-align: left; }
  h2{
    font-size: 2.5vh;
    line-height: 1rem;
    padding-right: 1vw;
    text-align: right; }
  p {
    max-height: 15vh; overflow: scroll;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2vh;}
  .break {
    border-bottom: 2.5px solid white;
    margin: auto;
    opacity: .75;
    width: 95%;}
}